.search {
    text-align: center;
    margin: 1em;
}
.search input {
    border-radius: 25px;
    border: 1px solid black;
    font-size: 1.6em;
    text-align: center;
    padding: 4px 4px;
    width: 10em;
    transition: 250ms;
}
.search input:focus {
    outline: none;
    width: 15em;
    border: 2px solid #020a50;
}

.pagination {
    text-align: center;
    user-select: none;
}
.pagination > li {
    display: inline-block;
    padding-left: 0;
}
.pagination > li {
    list-style: none;
    border: 0.9px solid;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #2c689c;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
    transition: background-color 250ms, color 250ms;
    cursor: pointer;
}
.pagination > li.active > a {
    color: #fff;
    background-color: #0f25ee;
    border-color: #7e1e6e;
}
.pagination > li > a:hover {
    background-color:  #1f35fe;
    color: white;
}
.pagination > li > a:focus {
    outline: none;
}

.event-attendees {
    width: 100%;
}
.event-attendees table {
    margin: 0 auto;
    width: 90%;
}
.event-attendees table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
.event-attendees th {
    font-size: 14px;
    height: 48px;
    background-color: rgb(105, 102, 245);
    color: #fff;
    padding: 0 1em;
}