.event-preview a {
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 80%;
    border-radius: 5px;
    border: 0px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    transition: background-color 250ms, color 250ms;
}

.event-preview a:hover {
    background-color: #6363eb;
    color: #fff;
}